* {
<<<<<<< HEAD
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.checkoutPage {
    background: rgba(196, 196, 196, 0.1);
}

.form-colour {
    background: rgba(196, 196, 196, 0.3);
}

#street {
    width: 73%;
}

.location {
    width: 48%;
}

input, #country {
    border: 2px solid rgb(189, 189, 189);
}

#password p {
    font-size: 14px;
}

#exp-date {
    width: 48%;
}

#select-card1, #select-card2, #select-card3 {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    margin: 2px;
    padding: 10px;
}

.text p {
    font-size: 15px;
}

#voucher .fw-bold::after {
    content: "(Optional)";
    color: grey;
    position: relative;
    right: -5%;
    font-size: smaller;
    font-weight: 400;
}
=======
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fira Sans Condensed", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.checkoutPage {
  background: rgba(196, 196, 196, 0.1);
}

.form-colour {
  background: rgba(196, 196, 196, 0.3);
}

#street {
  width: 73%;
}

.location {
  width: 48%;
}

input,
#country {
  border: 2px solid rgb(189, 189, 189);
}

#password p {
  font-size: 14px;
}

#exp-date {
  width: 48%;
}

#select-card1,
#select-card2,
#select-card3 {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  margin: 2px;
  padding: 10px;
}

.text p {
  font-size: 15px;
}

#voucher .fw-bold::after {
  content: "(Optional)";
  color: grey;
  position: relative;
  right: -5%;
  font-size: smaller;
  font-weight: 400;
}
>>>>>>> c99676b6f95393613b80cddd9fbb7223e7833379
