* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .text-reset {
    --bs-text-opacity: 1;
    color: white, var(--bs-text-opacity)) !important;
  }
  
  .text-end {
    margin-bottom: 180px !important;
  }

  body {
    font-family: 'Fira Sans Condensed', sans-serif;
}